<!DOCTYPE html>
<html ng-app="toDoListApp">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initail-scale=1">
		<title>To do list</title>
		<link rel="stylesheet" href="css/index.css" media="screen" charset="utf-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
	</head>
	<body ng-controller="ListController">
    <div class="container  col-sm-offset-2 col-sm-8  col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 " id="pagewrapper">
        <div id="title_wrapper">
          To Do List
        </div>

        <div id="content_wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <div id="search_bar" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="add_items">Add Items:<br>
                    <input class="col-xs-8 col-sm-8 col-md-8 col-lg-8" type="text" ng-model="newItemDetail" name="add_items" value="add items">
                    <button type="button" class="btn btn-xs btn-primary" ng-click="addItems()">Add Items</button></div>
			  
			  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="add_items" id="search_items">Search Items:<br>
                    <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12" type="text" ng-model="detail" name="add_items" value="search items"></div>
			</div>
			  
          

          <div id="main_content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="Tab_wrapper">
						<!--	<ul class="nav nav-pills">
								<li ><a href onclick="changeTab(0)">All List</a></li>
								<li ><a href onclick="changeTab(1)">To Do List</a></li>
								<li ><a href onclick="changeTab(2)">Doing List</a></li>
								<li ><a href onclick="changeTab(3)">Completed List</a></li>
							</ul>-->

            	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 eachTag" id="all_item_tab"><a href onclick="changeTab(0)">All List</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 eachTag" id="to_do_item_tab"><a href onclick="changeTab(1)">To Do</a></div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 eachTag" id="doing_item_tab"><a href onclick="changeTab(2)">Doing</a></div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 eachTag" id="completed_item_tab"><a href onclick="changeTab(3)">Completed</a></div>
				</div>

            </div>


            <div id="ItemsShow" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pre-scrollab">


              <div class="list_wrapper" id="all_list_wrapper" >
                
                  <div class=" row detail_status">
                      <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        Details
                      </div>
                      <div class=" col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        Status
                      </div>
                  </div>
                  <hr>
                  <div class=" row list_left" ng-repeat="item in items | filter:detail" >
                    <!--<div class="delete_col" ng-click="deleteItems(item)"></div>-->
                    <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8"><span  ng-click="deleteItems(item)" class="circleImg icon_margin"></span>{{item.detail}}</div>
                    <div class=" col-xs-3 col-sm-3 col-md-3 col-lg-3" >{{item.status}}</div>
                  </div>
                </div>
              


              <div class="list_wrapper" id="to_do_list_wrapper">
                  <div class=" row detail_status">
                      <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        Details
                      </div>
                      <div class=" col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        Status
                      </div>
                  </div>
                  <hr>
                  <div class=" row list_left" ng-repeat="item in items | filter: {status: 'To Do'} | filter:detail">
                    <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8"><span  ng-click="deleteItems(item)" class="circleImg icon_margin"></span>{{item.detail}}</div>
                    <div class=" col-xs-3 col-sm-3 col-md-3 col-lg-3" >{{item.status}}<span class="button_margin"><button type="button" ng-click="doingItem(item)" class="btn btn-danger btn-xs">Do Item!</button></span></div>
                  </div>
              </div>


              <div class="list_wrapper" id="doing_list_wrapper">
                  <div class=" row detail_status">
                      <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        Details
                      </div>
                      <div class=" col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        Status
                      </div>
                  </div>
                  <hr>
                  <div class=" row list_left" ng-repeat="item in items | filter: {status: 'Doing'} | filter:detail">
                    <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8"><span  ng-click="deleteItems(item)" class="circleImg icon_margin"></span>{{item.detail}}</div>
                    <div class=" col-xs-3 col-sm-3 col-md-3 col-lg-3">{{item.status}}<span class="button_margin"><button type="button" ng-click="completeItem(item)" class="btn btn-danger btn-xs ">Done!</button></span></div>
                  </div>
              </div>


              <div class="list_wrapper" id="completed_list_wrapper">
                  <div class=" row detail_status">
                      <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        Details
                      </div>
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        Status
                      </div>
                  </div>
                  <hr>
                  <div class=" row list_left" ng-repeat="item in items | filter: {status: 'Completed'} | filter:detail">
                    <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8"><span  ng-click="deleteItems(item)" class="circleImg icon_margin"></span>{{item.detail}}</div>
                    <div class=" col-xs-3 col-sm-3 col-md-3 col-lg-3">{{item.status}}</div>
                  </div>

                </div>
            </div>



          </div>

        </div>


    </div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script type="text/javascript" src="js/toDoList.js"></script>

	</body>
</html>
